
.styler {
  position: fixed;
  bottom: 7px;
  left: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;

  .closer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black);
    transition: opacity 0.2s;
    z-index: 1;
  }

  .toggler {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 30px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .chooser {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background: var(--secondary-light);
    color: var(--black);
    z-index: 3;
    transition: opacity 0.2s;
  }

  &:not(.open) {
    .chooser {
      position: relative;
      z-index: -1;
      opacity: 0;
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }
    .closer {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.open {
    .chooser {
      opacity: 1;
    }
    .closer {
      opacity: 0.2;
    }
  }
}
