
.button {
  --btn-background: var(--foreground);
  --btn-background-light: var(--foreground);
  --btn-background-dark: var(--background);
  --btn-foreground: var(--background);

  border-radius: 5px;
  padding: 0.25em 0.5em;
  background: var(--btn-background);
  color: var(--btn-foreground);
  border: solid 2px var(--btn-background);
  font-size: 0.8em;

  &:hover {
    background: var(--black);
    color: var(--btn-background-light);
    border-color: var(--btn-background-light);
  }

  &:active {
    background: var(--white);
    color: var(--btn-background-dark);
    border-color: var(--btn-background-dark);
  }

  @each $col in primary, secondary, tertiary {
    &.$(col)-color {
      --btn-background: var(--$(col));
      --btn-background-light: var(--$(col)-light);
      --btn-background-dark: var(--$(col)-dark);
      --btn-foreground: var(--$(col)-contrast);
    }
  }

  &.small-size {
    padding: 0.125em 0.25em;
  }

  &.large-size {
    font-weight: 500;
    font-size: 1em;
  }

  &.x-large-size {
    font-weight: 500;
    font-size: 1.5em;
  }
}
