
.installButton {
  position: fixed;
  bottom: 7px;
  right: 7px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 30px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}