
:global(html), :global(body) {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

:global(#root) {
  background: var(--background);
  color: var(--foreground);
  width: 100vw;
  height: 100vh;
}

* {
  font-family: Roboto, sans-serif;
}

button { outline: none; }
