
$breakpointMap: (
  mobile: 425px,
  tablet: 768px,
  laptop: 1440px
);

@define-mixin breakpoint $name: mobile, $direction: max-width {
  @media ($(direction): mapGet($breakpointMap, $name)) {
    @mixin-content;
  }
}
