
.resourceDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--tertiary-dark);
  padding: 10px;
  color: var(--white);
  border: 2px solid var(--tertiary-light);

  .resourceName {
    font-size: 36px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    width: 100%;
  }

  .resourceValue {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 500;
  }

  .resourceRate {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
