
.colorPicker {
  margin: 5px;
  display: flex;
  flex-direction: row;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .colorTextInput {
    width: 6em;
    margin-left: 5px;
  }
}
