@import '../../global-css/mixins.pcss';

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    background: var(--primary);
    color: var(--primary-contrast);
    justify-content: flex-start;
    align-items: flex-end;

    .title {
      margin: 5px 10px;
      font-size: 50px;
    }

    .subtitle {
      margin: 10px;
      font-size: 20px;

      @mixin breakpoint tablet {
        display: none;
      }
    }
  }

  .content {
    padding: 20px 10px;
    flex: 1;
    overflow: auto;
  }

  .footer {
    padding: 5px 10px;
    font-size: 12px;
    background: rgba(var(--primary-rgb), 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div {
      padding: 2px;
    }

    a {
      color: var(--foreground);
    }

    .installButton {
      position: fixed;
      bottom: 7px;
      left: 7px;
      height: 30px;
      width: 30px;
      padding: 0;
      border-radius: 30px;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
}
